<p>
  misdatos works!
  <ion-header [translucent]="true">
    <ion-toolbar>
      
        <ion-img src="assets/img/Logo_DuocUC.svg.png" width="50" slot="start"  routerLink="/inicio"></ion-img>
      
      <ion-title >
        <h1 class="slide-animation">Sistema asistencia DUOCUC </h1>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Datos de la Clase</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <table>
          <tr>
            <td class="ancho_columna_titulos">Bloque de Inicio</td>
            <td id="data">{{bloqueInicio}}</td>
          </tr>
          <tr>
            <td>Bloque de Término</td>
            <td id="data">{{bloqueTermino}}</td>
          </tr>
          <tr>
            <td>Día</td>
            <td id="data">{{dia}}</td>
          </tr>
          <tr>
            <td>Hora de Fin</td>
            <td id="data">{{horaFin}}</td>
          </tr>
          <tr>
            <td>Hora de Inicio</td>
            <td id="data">{{horaInicio}}</td>
          </tr>
          <tr>
            <td>Sigla</td>
            <td id="data">{{idAsignatura}}</td>
          </tr>
          <tr>
            <td>Nombre de Asignatura</td>
            <td id="data">{{nombreAsignatura}}</td>
          </tr>
          <tr>
            <td>Nombre del Profesor</td>
            <td id="data">{{nombreProfesor}}</td>
          </tr>
          <tr>
            <td>Sección</td>
            <td id="data">{{seccion}}</td>
          </tr>
          <tr>
            <td>Sede</td>
            <td id="data">{{sede}}</td>
          </tr>
          <ion-button expand="block" expand="full" shape="round" routerLink="/miClase">
            <ion-icon slot="start" name="trash-outline" ></ion-icon>
            Limpiar datos
          </ion-button>
          <ion-button expand="full" (click)="volver()">Volver</ion-button>
  
          
        </table>
      </ion-card-content>
    </ion-card>
  
  </ion-content>
</p>
